@import ',,/../../../shared/styles/global.scss';

.input {
  padding: 1rem 1.25rem;
  outline: none;
  color: inherit;
  border: none;
  background: transparent;
  width: 100%;
  font-size: $fontsize-copy-homepage;

  &::placeholder {
    color: inherit;
    opacity: 0.4;
  }
}

.inputStyler {
  width: 70%;
  display: flex;
  align-items: center;
  border-radius: $card-border-radius;
  padding-left: 1rem;
  background: $colour-dark-blue;
  border: 0.0625rem solid $colour-dark-blue;
  color: $colour-white;

  &:hover {
    border: 0.0625rem solid $colour-white;
  }

  &.lightTheme {
    background: $colour-white;
    box-shadow: $box-shadow-light-theme;
    border: 0.0625rem solid $colour-white;
    color: $colour-very-dark-blue;

    &:hover {
      border: 0.0625rem solid $colour-dark-blue;
    }
  }
}

@include tabletAndMobile {
  .inputStyler {
    width: 100%;
  }
}
